@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}
audio#musica{
    display: block;
    position: relative;
    left: 573px;
    top: 487px;
    width: 300px;
}
video#filme{
    display: block;
    position: relative;
    left: 90px;
    top: 75px;
    width: 440px;
    
}

iframe#youtube{
    display: block;
    position: relative;
    left: 170px;
}
h3#youtube{
    background-color: hsl(0, 2%, 73%);
    font-size: 13pt;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    
}